In [1]:
import pandas as pd
import numpy as np
 
import seaborn as sns
from matplotlib import pyplot as plt

Get The Data: New York City Airbnb Open Data

In [2]:
!wget --no-check-certificate \ https://raw.githubusercontent.com/alexeygrigorev/datasets/master/AB_NYC_2019.csv

--2021-10-05 08:17:53--  http://%5C/
Resolving \\ (\\)... failed: No such host is known. .
wget: unable to resolve host address '\\'
--2021-10-05 08:17:53--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/AB_NYC_2019.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
WARNING: cannot verify raw.githubusercontent.com's certificate, issued by 'CN=DigiCert SHA2 High Assurance Server CA,OU=www.digicert.com,O=DigiCert Inc,C=US':
  Unable to locally verify the issuer's authority.
HTTP request sent, awaiting response... 200 OK
Length: 7077973 (6.8M) [text/plain]
Saving to: 'AB_NYC_2019.csv.1'

     0K .......... .......... .......... .......... ..........  0%  595K 12s
    50K .......... .......... .......... .......... ..........  1%  683K 11s
   100K .......... .......... .......... .......... ..........  2%  318K 14s
   150K .......... .......... .......... .......... ..........  2%  565K 14s
   200K .......... .......... .......... .......... ..........  3%  740K 13s
   250K .......... .......... .......... .......... ..........  4%  925K 12s
   300K .......... .......... .......... .......... ..........  5% 1.17M 11s
   350K .......... .......... .......... .......... ..........  5% 3.63M 9s
   400K .......... .......... .......... .......... ..........  6% 1.07M 9s
   450K .......... .......... .......... .......... ..........  7%  946K 9s
   500K .......... .......... .......... .......... ..........  7% 4.01M 8s
   550K .......... .......... .......... .......... ..........  8% 1.02M 8s
   600K .......... .......... .......... .......... ..........  9% 2.44M 7s
   650K .......... .......... .......... .......... .......... 10%  967K 7s
   700K .......... .......... .......... .......... .......... 10% 2.01M 7s
   750K .......... .......... .......... .......... .......... 11% 2.03M 7s
   800K .......... .......... .......... .......... .......... 12% 1.61M 6s
   850K .......... .......... .......... .......... .......... 13% 1.06M 6s
   900K .......... .......... .......... .......... .......... 13% 6.48M 6s
   950K .......... .......... .......... .......... .......... 14%  948K 6s
  1000K .......... .......... .......... .......... .......... 15% 1.42M 6s
  1050K .......... .......... .......... .......... .......... 15% 1.15M 6s
  1100K .......... .......... .......... .......... .......... 16% 4.65M 5s
  1150K .......... .......... .......... .......... .......... 17% 2.30M 5s
  1200K .......... .......... .......... .......... .......... 18% 1.53M 5s
  1250K .......... .......... .......... .......... .......... 18% 1000K 5s
  1300K .......... .......... .......... .......... .......... 19% 1.35M 5s
  1350K .......... .......... .......... .......... .......... 20% 1.50M 5s
  1400K .......... .......... .......... .......... .......... 20% 3.09M 5s
  1450K .......... .......... .......... .......... .......... 21% 1.45M 5s
  1500K .......... .......... .......... .......... .......... 22% 2.92M 5s
  1550K .......... .......... .......... .......... .......... 23% 2.41M 4s
  1600K .......... .......... .......... .......... .......... 23% 2.74M 4s
  1650K .......... .......... .......... .......... .......... 24% 1.96M 4s
  1700K .......... .......... .......... .......... .......... 25% 1.71M 4s
  1750K .......... .......... .......... .......... .......... 26% 3.52M 4s
  1800K .......... .......... .......... .......... .......... 26% 2.26M 4s
  1850K .......... .......... .......... .......... .......... 27%  424K 4s
  1900K .......... .......... .......... .......... .......... 28% 7.17M 4s
  1950K .......... .......... .......... .......... .......... 28%  788K 4s
  2000K .......... .......... .......... .......... .......... 29% 1.20M 4s
  2050K .......... .......... .......... .......... .......... 30%  602K 4s
  2100K .......... .......... .......... .......... .......... 31% 7.78M 4s
  2150K .......... .......... .......... .......... .......... 31% 9.27M 4s
  2200K .......... .......... .......... .......... .......... 32%  817K 4s
  2250K .......... .......... .......... .......... .......... 33% 1.62M 4s
  2300K .......... .......... .......... .......... .......... 33% 1.87M 4s
  2350K .......... .......... .......... .......... .......... 34% 1.58M 4s
  2400K .......... .......... .......... .......... .......... 35% 2.96M 4s
  2450K .......... .......... .......... .......... .......... 36% 1.62M 3s
  2500K .......... .......... .......... .......... .......... 36% 2.45M 3s
  2550K .......... .......... .......... .......... .......... 37% 1.64M 3s
  2600K .......... .......... .......... .......... .......... 38% 2.10M 3s
  2650K .......... .......... .......... .......... .......... 39% 2.44M 3s
  2700K .......... .......... .......... .......... .......... 39% 2.32M 3s
  2750K .......... .......... .......... .......... .......... 40% 1.31M 3s
  2800K .......... .......... .......... .......... .......... 41% 1.77M 3s
  2850K .......... .......... .......... .......... .......... 41% 1.99M 3s
  2900K .......... .......... .......... .......... .......... 42% 1.50M 3s
  2950K .......... .......... .......... .......... .......... 43% 2.11M 3s
  3000K .......... .......... .......... .......... .......... 44% 2.29M 3s
  3050K .......... .......... .......... .......... .......... 44% 3.17M 3s
  3100K .......... .......... .......... .......... .......... 45% 1.50M 3s
  3150K .......... .......... .......... .......... .......... 46% 2.79M 3s
  3200K .......... .......... .......... .......... .......... 47% 3.44M 3s
  3250K .......... .......... .......... .......... .......... 47% 2.00M 3s
  3300K .......... .......... .......... .......... .......... 48% 1.67M 3s
  3350K .......... .......... .......... .......... .......... 49% 1.80M 2s
  3400K .......... .......... .......... .......... .......... 49% 1.38M 2s
  3450K .......... .......... .......... .......... .......... 50% 4.10M 2s
  3500K .......... .......... .......... .......... .......... 51% 1.58M 2s
  3550K .......... .......... .......... .......... .......... 52% 1.59M 2s
  3600K .......... .......... .......... .......... .......... 52% 2.46M 2s
  3650K .......... .......... .......... .......... .......... 53% 1.53M 2s
  3700K .......... .......... .......... .......... .......... 54% 3.76M 2s
  3750K .......... .......... .......... .......... .......... 54% 2.38M 2s
  3800K .......... .......... .......... .......... .......... 55% 1.72M 2s
  3850K .......... .......... .......... .......... .......... 56% 4.86M 2s
  3900K .......... .......... .......... .......... .......... 57% 1.52M 2s
  3950K .......... .......... .......... .......... .......... 57% 2.61M 2s
  4000K .......... .......... .......... .......... .......... 58% 2.41M 2s
  4050K .......... .......... .......... .......... .......... 59%  449K 2s
  4100K .......... .......... .......... .......... .......... 60% 2.74M 2s
  4150K .......... .......... .......... .......... .......... 60% 1.88M 2s
  4200K .......... .......... .......... .......... .......... 61% 1.10M 2s
  4250K .......... .......... .......... .......... .......... 62% 1.45M 2s
  4300K .......... .......... .......... .......... .......... 62% 2.18M 2s
  4350K .......... .......... .......... .......... .......... 63% 2.09M 2s
  4400K .......... .......... .......... .......... .......... 64% 1.57M 2s
  4450K .......... .......... .......... .......... .......... 65% 1.61M 2s
  4500K .......... .......... .......... .......... .......... 65% 2.75M 2s
  4550K .......... .......... .......... .......... .......... 66% 1.87M 2s
  4600K .......... .......... .......... .......... .......... 67% 1.94M 2s
  4650K .......... .......... .......... .......... .......... 67% 1.92M 1s
  4700K .......... .......... .......... .......... .......... 68% 2.11M 1s
  4750K .......... .......... .......... .......... .......... 69% 1.82M 1s
  4800K .......... .......... .......... .......... .......... 70% 2.61M 1s
  4850K .......... .......... .......... .......... .......... 70% 1.34M 1s
  4900K .......... .......... .......... .......... .......... 71% 2.30M 1s
  4950K .......... .......... .......... .......... .......... 72% 3.73M 1s
  5000K .......... .......... .......... .......... .......... 73% 2.40M 1s
  5050K .......... .......... .......... .......... .......... 73% 3.02M 1s
  5100K .......... .......... .......... .......... .......... 74% 1.70M 1s
  5150K .......... .......... .......... .......... .......... 75% 4.51M 1s
  5200K .......... .......... .......... .......... .......... 75% 1.76M 1s
  5250K .......... .......... .......... .......... .......... 76% 1.71M 1s
  5300K .......... .......... .......... .......... .......... 77% 3.86M 1s
  5350K .......... .......... .......... .......... .......... 78% 3.14M 1s
  5400K .......... .......... .......... .......... .......... 78% 2.33M 1s
  5450K .......... .......... .......... .......... .......... 79% 5.11M 1s
  5500K .......... .......... .......... .......... .......... 80% 4.31M 1s
  5550K .......... .......... .......... .......... .......... 81% 1.66M 1s
  5600K .......... .......... .......... .......... .......... 81% 2.70M 1s
  5650K .......... .......... .......... .......... .......... 82%  571K 1s
  5700K .......... .......... .......... .......... .......... 83% 5.95M 1s
  5750K .......... .......... .......... .......... .......... 83% 7.30M 1s
  5800K .......... .......... .......... .......... .......... 84% 4.25M 1s
  5850K .......... .......... .......... .......... .......... 85% 11.9M 1s
  5900K .......... .......... .......... .......... .......... 86% 7.69M 1s
  5950K .......... .......... .......... .......... .......... 86% 7.29M 1s
  6000K .......... .......... .......... .......... .......... 87% 6.29M 1s
  6050K .......... .......... .......... .......... .......... 88% 1.33M 0s
  6100K .......... .......... .......... .......... .......... 88% 2.65M 0s
  6150K .......... .......... .......... .......... .......... 89% 1.43M 0s
  6200K .......... .......... .......... .......... .......... 90%  716K 0s
  6250K .......... .......... .......... .......... .......... 91% 2.41M 0s
  6300K .......... .......... .......... .......... .......... 91%  826K 0s
  6350K .......... .......... .......... .......... .......... 92% 1.34M 0s
  6400K .......... .......... .......... .......... .......... 93%  287K 0s
  6450K .......... .......... .......... .......... .......... 94% 1.88M 0s
  6500K .......... .......... .......... .......... .......... 94%  723K 0s
  6550K .......... .......... .......... .......... .......... 95% 1.86M 0s
  6600K .......... .......... .......... .......... .......... 96% 1.42M 0s
  6650K .......... .......... .......... .......... .......... 96% 1.04M 0s
  6700K .......... .......... .......... .......... .......... 97% 3.48M 0s
  6750K .......... .......... .......... .......... .......... 98% 1.58M 0s
  6800K .......... .......... .......... .......... .......... 99% 1.81M 0s
  6850K .......... .......... .......... .......... .......... 99%  945K 0s
  6900K .......... ..                                         100% 35.9M=4.5s

2021-10-05 08:17:59 (1.52 MB/s) - 'AB_NYC_2019.csv.1' saved [7077973/7077973]

FINISHED --2021-10-05 08:17:59--
Total wall clock time: 5.7s
Downloaded: 1 files, 6.8M in 4.5s (1.52 MB/s)

In [3]:
df = pd.read_csv('AB_NYC_2019.csv')
len(df)

48895

In [ ]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [ ]:
used_columns = [
                'latitude',
                'longitude',
                'price',
                'minimum_nights',
                'number_of_reviews',
                'reviews_per_month',
                'calculated_host_listings_count',
                'availability_365'   
                ]

In [ ]:
HW_df = df[used_columns]
HW_df.head(3)

   latitude  longitude  ...  calculated_host_listings_count  availability_365
0  40.64749  -73.97237  ...                               6               365
1  40.75362  -73.98377  ...                               2               355
2  40.80902  -73.94190  ...                               1               365

[3 rows x 8 columns]

------------------------------------------------------------------------------
ANS Q1:

In [ ]:
HW_df.isnull().sum()

latitude                              0
longitude                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

------------------------------------------------------------------------------
ANS Q2:

In [ ]:
HW_df['minimum_nights'].median()

3.0

------------------------------------------------------------------------------
Split Data (Manually)

In [ ]:
def split_data(n,split_val,split_test):
  n_val = int(split_val*n)
  n_test = int(split_test*n)
  n_train = n - n_val - n_test
  print('Train Split : ', 1 - split_val - split_test)
  print(' ')
  print(n_train, n_val, n_test)
  
  return n_train, n_val, n_test

In [ ]:
n = len(HW_df)

split_val = float(input('Val Split : '))
split_test = float(input('Test Split : '))

n_train, n_val, n_test = split_data(n,split_val,split_test)

Val Split : 0.2
Test Split : 0.2
Train Split :  0.6000000000000001

29337 9779 9779

In [ ]:
idx = np.arange(n)

np.random.seed(42)
np.random.shuffle(idx)

In [ ]:
df_train = HW_df.iloc[idx[:n_train]]
df_val = HW_df.iloc[idx[n_train:n_train+n_val]]
df_test = HW_df.iloc[idx[n_train+n_val:]]

In [ ]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [ ]:
df_train.head(3)

   latitude  longitude  ...  calculated_host_listings_count  availability_365
0  40.64354  -73.97777  ...                               1               189
1  40.70666  -73.90779  ...                               1                73
2  40.76116  -73.99016  ...                               1                 0

[3 rows x 8 columns]

In [ ]:
y_train = np.log1p(df_train.price.values)
y_val = np.log1p(df_val.price.values)
y_test = np.log1p(df_test.price.values)

In [ ]:
y_train

array([4.49980967, 3.4339872 , 4.79579055, ..., 4.61512052, 4.2341065 ,
       3.8286414 ])

In [ ]:
del df_train['price']
del df_val['price']
del df_test['price']

In [ ]:
len(y_train)

29337

In [ ]:
df_train.head(3)

   latitude  longitude  ...  calculated_host_listings_count  availability_365
0  40.64354  -73.97777  ...                               1               189
1  40.70666  -73.90779  ...                               1                73
2  40.76116  -73.99016  ...                               1                 0

[3 rows x 7 columns]

------------------------------------------------------------------------------
Linear Regression (w/o Regularization)

In [ ]:
def LG_wo_R(X, y):
  ones = np.ones(X.shape[0])
  X = np.column_stack([ones, X])

  XTX = X.T.dot(X)
  XTX_inv = np.linalg.inv(XTX)
  w = XTX_inv.dot(X.T).dot(y)

  return w[0], w[1:]

------------------------------------------------------------------------------
RMSE

In [ ]:
def RMSE(y, y_pred):
  e = y_pred - y
  mse = (e ** 2).mean()
  rmse_val = np.sqrt(mse)

  return rmse_val

------------------------------------------------------------------------------
ANS Q3:
For this question there are 2 options


1.   Fill the Missing Value with 0
2.   Fill the Missing Value with mean

In [ ]:
base = [
        'latitude',
        'longitude',
        'minimum_nights',
        'number_of_reviews',
        'reviews_per_month',
        'calculated_host_listings_count',
        'availability_365'
        ]

*Option 1*

In [ ]:
def X_opt_1(df):
  df_opt_1 = df[base]
  df_opt_1 = df_opt_1.fillna(0)
  X = df_opt_1.values

  return X

In [ ]:
X1_train = X_opt_1(df_train)
w0_1, w_1 = LG_wo_R(X1_train, y_train)

In [ ]:
y1_pred = w0_1 + X1_train.dot(w_1)

In [ ]:
print('RMSE value = ', round(RMSE(y_train, y1_pred), 2))

RMSE value =  0.64

*Option 2*

In [ ]:
def X_opt_2(df):
  df_opt_1 = df[base]
  df_opt_1 = df_opt_1.fillna(float(HW_df['reviews_per_month'].mean()))
  X = df_opt_1.values

  return X

In [ ]:
X2_train = X_opt_2(df_train)
w0_2, w_2 = LG_wo_R(X2_train, y_train)

In [ ]:
y2_pred = w0_2 + X2_train.dot(w_2)

In [ ]:
print('RMSE value = ', round(RMSE(y_train, y2_pred), 2))

RMSE value =  0.64

-------------------------------------------------------------------------------
Regulized Linear Regression

In [ ]:
def LG_w_R(X, y, r=0.0):
  ones = np.ones(X.shape[0])
  X = np.column_stack([ones, X])

  XTX = X.T.dot(X)
  reg = r * np.eye(XTX.shape[0])
  XTX += reg
  
  XTX_inv = np.linalg.inv(XTX)
  w = XTX_inv.dot(X.T).dot(y)

  return w[0], w[1:]

---------------------------------------------------------------------------------------------
ANS Q4:

In [ ]:
X_train_q4 = X_opt_1(df_train)
X_val_q4 = X_opt_1(df_val)

In [ ]:
for r_q4 in [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]:
  w0_q4, w_q4 = LG_w_R(X_train_q4, y_train, r=r_q4)
  y_pred_q4 = w0_q4 + X_val_q4.dot(w_q4)
  print('r = %7s' %r_q4, '-> RMSE value = ', round(RMSE(y_val, y_pred_q4), 2))

r =       0 -> RMSE value =  0.64
r =   1e-06 -> RMSE value =  0.64
r =  0.0001 -> RMSE value =  0.64
r =   0.001 -> RMSE value =  0.64
r =    0.01 -> RMSE value =  0.66
r =     0.1 -> RMSE value =  0.68
r =       1 -> RMSE value =  0.68
r =       5 -> RMSE value =  0.68
r =      10 -> RMSE value =  0.68

------------------------------------------------------------------------------
ANS Q5:

In [ ]:
n_q5 = len(HW_df)

split_val_q5 = float(input('Val Split : '))
split_test_q5 = float(input('Test Split : '))

n_train_q5, n_val_q5, n_test_q5 = split_data(n_q5,split_val_q5,split_test_q5)

Val Split : 0.2
Test Split : 0.2
Train Split :  0.6000000000000001

29337 9779 9779

In [ ]:
for s in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
  idx_q5 = np.arange(n)

  np.random.seed(s)
  np.random.shuffle(idx_q5)

  df_train_q5 = HW_df.iloc[idx_q5[:n_train_q5]]
  df_val_q5 = HW_df.iloc[idx_q5[n_train_q5:n_train_q5+n_val_q5]]
  df_test_q5 = HW_df.iloc[idx_q5[n_train_q5+n_val_q5:]]

  df_train_q5 = df_train_q5.reset_index(drop=True)
  df_val_q5 = df_val_q5.reset_index(drop=True)
  df_test_q5 = df_test_q5.reset_index(drop=True)

  y_train_q5 = np.log1p(df_train_q5.price.values)
  y_val_q5 = np.log1p(df_val_q5.price.values)
  y_test_q5 = np.log1p(df_test_q5.price.values)  

  del df_train_q5['price']
  del df_val_q5['price']
  del df_test_q5['price']

  X_train_q5 = X_opt_1(df_train_q5)
  X_val_q5 = X_opt_1(df_val_q5)
  
  w0_q5, w_q5 = LG_wo_R(X_train_q5, y_train_q5)
  y_pred_q5 = w0_q5 + X_val_q5.dot(w_q5)
  RMSE_score = round(RMSE(y_val, y_pred_q5), 4)

  print('s = %1s' %s, '-> RMSE value = ', RMSE_score)

s = 0 -> RMSE value =  0.7427
s = 1 -> RMSE value =  0.7387
s = 2 -> RMSE value =  0.7427
s = 3 -> RMSE value =  0.7381
s = 4 -> RMSE value =  0.7403
s = 5 -> RMSE value =  0.7434
s = 6 -> RMSE value =  0.7393
s = 7 -> RMSE value =  0.7415
s = 8 -> RMSE value =  0.7418
s = 9 -> RMSE value =  0.7434

In [ ]:
scores = [0.7427, 0.7387, 0.7427, 0.7381, 0.7403, 0.7434, 0.7393, 0.7415, 0.7418, 0.7434]
scores = np.array(scores)

In [ ]:
print('Standard  Deviation = ', round(np.std(scores), 3))

Standard  Deviation =  0.002

------------------------------------------------------------------------------
ANS Q6:

In [ ]:
n_q6 = len(HW_df)

split_val_q6 = float(input('Val Split : '))
split_test_q6 = float(input('Test Split : '))

n_train_q6, n_val_q6, n_test_q6 = split_data(n_q6,split_val_q6,split_test_q6)

Val Split : 0.2
Test Split : 0.2
Train Split :  0.6000000000000001

29337 9779 9779

In [ ]:
idx_q6 = np.arange(n)

np.random.seed(9)
np.random.shuffle(idx_q6)

df_train_q6 = HW_df.iloc[idx_q5[:n_train_q6+n_val_q6]]
df_test_q6 = HW_df.iloc[idx_q5[n_train_q6+n_val_q6:]]

df_train_q6 = df_train_q6.reset_index(drop=True)
df_test_q6 = df_test_q6.reset_index(drop=True)

y_train_q6 = np.log1p(df_train_q6.price.values)
y_test_q6 = np.log1p(df_test_q6.price.values) 

del df_train_q6['price']
del df_test_q6['price']

X_train_q6 = X_opt_1(df_train_q6)
X_test_q6 = X_opt_1(df_test_q6)
  
w0_q6, w_q6 = LG_w_R(X_train_q6, y_train_q6, r=0.001)
y_pred_q6 = w0_q6 + X_test_q6.dot(w_q6)
RMSE_score = round(RMSE(y_test_q6, y_pred_q6), 2)

print('RMSE value = ', RMSE_score)

RMSE value =  0.65